.game-banner {
  min-height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: end;
  align-items:end;
  color: white;
  text-align:end;
  border-radius: 5px;
  .game-title {
    margin:1rem
  }
}


