<div class="rating-distribution__meta">
  <div class="rating-distribution__labels">
    @for (rating of sortedRatings(); track $index) {

    <div class="rating-distribution__label" role="button" tabindex="0">
      <div class="rating-icon rating-icon_{{ rating.title }}"></div>
      <div
        class="rating rating_text rating-distribution__label-rating"
        [title]="rating.title"
        role="button"
        [tabindex]="$index"
      >
        <div class="text">{{ rating.title | titlecase }}</div>
      </div>
      <div class="count">{{ rating.count }}</div>
    </div>
    }
  </div>
</div>
