<div class="header">
  <div class="header-wrapper">
    <div class="header-logo">
      <a routerLink="/games">Games Library</a>
    </div>

    <div class="header-search">
      <!-- TODO Placeholder -->
      <p>Search</p>
    </div>
    <nav class="header-nav-container">
      <a class="header-nav-link" routerLink="/games">Games</a>
      <div class="userMenu">
        <!--TODO : Create menu come with click - profile / logout etc -->
        @if(isAuthenticated$ | async; as isAuth ) {
        <span class="header-nva-user">
          {{ (user$ | async)?.displayName || (user$ | async)?.email }}
        </span>
        <a class="header-nav-link" (click)="logout()">todo-logout</a>
        }@else {
        <a class="header-nav-link" routerLink="/login">Login</a>
        }
      </div>
    </nav>
  </div>
</div>
