.header-wrapper {
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 10px
}

.header-logo {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

.header-logo a {
  color: azure;
  font-weight: bold;
  text-decoration: none;
}

.header-nav-container {
  display: flex;
  gap: 20px;
  align-items: center;
  text-transform: uppercase;
  color: azure;
}

.header-nav-container a {

  color: azure;
}

.user-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;

  .user-name {
    font-weight: bold;
    font-size: 1rem;
  }

  .spacer {
    flex: 1;
  }

  button[mat-button] {

    font-weight: 500;
  }
}