<div class="header">
  <div class="header-wrapper">
    <div class="header-logo">
      <a routerLink="/games">Games Library</a>
    </div>

    <div class="header-search">
      <!-- TODO Placeholder -->
      <p>Search</p>
    </div>
    <nav class="header-nav-container">
      <a class="header-nav-link" routerLink="/games">Games</a>
      <div class="userMenu">
        <!--TODO : Create menu come with click - profile / logout etc -->
        @if(isAuthenticated$ | async; as isAuth ) {
          <button matButton [matMenuTriggerFor]="menu">Welcome,
            {{ (user$ | async)?.displayName || (user$ | async)?.email}}</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="'/my-page'">
              <mat-icon>account_box</mat-icon>
              <span>Collections</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>Log Out</span></button>
          </mat-menu>



        }@else {
          <a class="header-nav-link" routerLink="/login">Login</a>
        }
      </div>
    </nav>
  </div>
</div>