.header-promo-section {
  padding: 1rem;
  border-radius: 9px;
  background-color: rgba(53, 235, 16, 0.8);
  background:linear-gradient(10deg,blue,purple);
  font-weight: bolder;
  display: inline-block;
}
.promo-close-button {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bolder;
  float: right;
}

.mainSection {
  width: 100%;
  display: flex;
  align-items: center;

  gap: 0.5rem;


  h1 {
    font-size: 1.8rem;

  }

  mat-icon {
    //flex-shrink: 0;
    cursor: pointer;
    &:hover {
      color: #2196f3; // highlight color on hover
      transform: scale(1.2); // optional: slight zoom
    }
  }
}


.header-container h3 {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: lighter;
}