<div class="filters-card">
  <div class="filters-card__column">
    <div class="filters-card__label">Type</div>
    <div class="filters-card__value">
      <select [(ngModel)]="type">
        <option value="all">All</option>
        <option value="income">Income</option>
        <option value="expense">Expense</option>
      </select>
    </div>
  </div>
  <div class="filters-card__column">
    <div class="filters-card__label">Category</div>
    <div class="filters-card__value">
      <input type="text" placeholder="Enter category..." [(ngModel)]="category" />
    </div>
  </div>
  <div class="filters-card__column">
    <div class="filters-card__label">Action</div>
    <div class="filters-card__value">
      <button (click)="performSearch()">Apply Filters</button>
    </div>
  </div>
</div>