<div class="game-card">
  <a [routerLink]="['/games', game().id]">
    <img [src]="game().background_image" alt="{{ game().name }}" />
  </a>
  <h3 class="game-title">{{ game().name }}
    @if(uid()) {
      <mat-icon class="favorite" (click)="toggleFavorite(game())" [ngClass]="{ active: isInFavorites(game()) }">
        favorite
      </mat-icon>
    }

  </h3>


  <p>Rating: {{ game().rating }}</p>
  <p>Released : {{ game().released }}</p>


  <div class="extra-info">
    @if((game().suggestions_count?? 0) > 0){
      <button matButton mat-button [routerLink]="['/games' ]"
        [queryParams]="{gameId: game().id, type: 'suggested', title: game().name }">
        Games like this {{game().suggestions_count??0}}
        <mat-icon>arrow_right</mat-icon>
      </button>
    }
  </div>
</div>