@defer (when readyToRender()){

  <div class="game-card">
    <a [routerLink]="['/games', resolvedGame()?.id]">
      <img [src]="resolvedGame()?.background_image" alt="{{ resolvedGame()?.name }}" />
    </a>
    <h3 class="game-title">{{ resolvedGame()?.name }}
      @if(uid() && resolvedGame()?.id) {
        <mat-icon class="favorite" (click)="toggleFavorite(resolvedGame()!)"
          [ngClass]="{ active: isInFavorites(resolvedGame()?.id?.toString() ?? '') }">
          favorite
        </mat-icon>
      }

    </h3>

    <p>Rating: {{ resolvedGame()?.rating }}</p>
    <p>Released : {{ resolvedGame()?.released }}</p>

    <div class="extra-info">
      @if((resolvedGame()?.suggestions_count?? 0) > 0){
        <button matButton mat-button [routerLink]="['/games' ]"
          [queryParams]="{gameId: resolvedGame()?.id, type: 'suggested', title: resolvedGame()?.name }">
          Games like this {{resolvedGame()?.suggestions_count??0}}
          <mat-icon>arrow_right</mat-icon>
        </button>
      }
    </div>
  </div>
}
@placeholder {
  <div class="game-card skeleton">
    <div class="image-placeholder"></div>
    <div class="title-placeholder"></div>
    <div class="text-placeholder short"></div>
    <div class="text-placeholder long"></div>
    <div class="button-placeholder"></div>
  </div>
}