<app-header-text mainHeaderText="New and trending" subHeaderText="Based on player counts and release date"
  promoText="Jump-start your library with games from Steam, PlayStation, Xbox or GOG. The more complete your profile is, the better it shows your interests."></app-header-text>
<div class="games-page-container">


  <div class="game-genres-wrapper">
    <div #genreContainer class="game-genres" [class.expended]="isGenresExpanded()">
      @for(genre of genres(); track $index) {
        <button class="genre-button" (click)="onGenreSelect(genre)" [class.selected]="selectedGenre() === genre.slug">
          {{ genre.name }}
        </button>
      }
    </div>
    <button class="toggle-button" (click)="toggleGenres()">
      {{ isGenresExpanded() ? 'Show Less' : 'Show More' }}
    </button>


  </div>


  <div class="game-list">
    @if(!games() || games().length === 0)
    {
      <p>No games available.</p>
    }
    @else
    {
      @for (game of games(); track $index) {
        <app-game-card [game]="game" />
      }
    }

    @if(hasError()){
      <div class="error-message">
        <p>Ops! Something unexpected results ....</p>
        <button class="retry-button" (click)="loadGames(this.selectedGenre(), false)">Try Again</button>
      </div>
    }

    @if(isLoading()) {
      <div class="loader-wrapper">
        <div class="loader"></div>
      </div>
    }

    <div class="scroll-trigger" #scrollTrigger></div>
  </div>
</div>