@if(loadType()==='ALL'){
  <app-header-text [mainHeaderText]="inputHeaderForGameTitle()" subHeaderText="Based on player counts and release date"
    promoText="Jump-start your library with games from Steam, PlayStation, Xbox or GOG. The more complete your profile is, the better it shows your interests."></app-header-text>
}@else {
  <app-header-text [mainHeaderText]="inputHeaderForGameTitle()" iconName="cancel" redirectLink="/games"
    subHeaderText="Inspired by similar gameplay, themes, and fan favorites" />
}

<div class="games-page-container">
  <p> you are seeing now {{games().length}} of games </p>

  <div class="game-genres-wrapper" [class.hidden]="loadType() ==='SUGGESTED'">
    <div #genreContainer class="game-genres" [class.expended]="isGenresExpanded()">
      @for(genre of genres(); track $index) {
        <button class="genre-button" (click)="onGenreSelect(genre)" [class.selected]="selectedGenre() === genre.slug">
          {{ genre.name }}
        </button>
      }
    </div>
    <button class="toggle-button" (click)="toggleGenres()">
      {{ isGenresExpanded() ? 'Show Less' : 'Show More' }}
    </button>
  </div>


  <div class="game-list">
    @if(!games() || games().length === 0)
    {
      <p>No games available.</p>
    }
    @else
    {
      @for (game of games(); track $index) {
        <app-game-card [game]="game" [uid]="currentUid()" />
      }
    }

    @if(hasError()){
      <div class="error-message">
        <p>Ops! Something unexpected results ....</p>
        <button class="retry-button" (click)="loadGames(this.selectedGenre(), false)">Try Again</button>
      </div>
    }

    @if(isLoading()) {
      <div class="loader-wrapper">
        <div class="loader"></div>
      </div>
    }


    <div class="scroll-trigger" #scrollTrigger></div>


    @if(!isLoading() && !hasError()) {
      <div class="load-more-wrapper">
        <button class="load-more-button" (click)="loadGames(selectedGenre(), false)">
          Load More
        </button>
      </div>
    }
  </div>
</div>