.game-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;

}
.game-genres-wrapper{
  display: inline-block;
  &.hidden {
    display: none !important;
  }
  .game-genres {
    display: inline-block;
    margin: 0.5rem 0 0 0;
    max-height: 3rem;
    overflow: hidden;
    &.expended {
      max-height: none;
    }

    .genre-button{
      background-color: #ff00aa1a;
      font-size: small;
      margin: 0.5rem;
      &.selected {
        background-color: #9c0a6b;
        color: white;
      }
      &:hover {
        background-color: #771032;
        opacity: 1;
        color: white;
      }
    }
  }

  .toggle-button {
    margin-top: 0;
    float: right;
    background-color: #0c0c0c1a;
    font-size: small;
    font-style: italic;
    font-weight: lighter;
    margin: 0.5rem;
    &:hover {
      opacity: 1;
      font-weight: normal;
    }
  }

}


.loader-wrapper {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  .loader {
      width: 48px;
      height: 48px;
      border: 5px solid #FFF;
      border-bottom-color: transparent;
      border-radius: 50%;
      animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
    }
}

.error-message {
  color: rgb(185, 71, 71);
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}

.scroll-trigger {
  height: 1px;
  width: 100%;
}

.load-more-wrapper {
  text-align: center;
  margin: 1rem 0;
}

.load-more-button {
  background-color: #44474e;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}